body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.info_login {
    width: 400px;
    max-width: 90%;
    font-size: 20px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #0056b3;
}

.button_back {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none; /*уберание подчеркивания*/
    cursor: pointer;
    display: inline-block;
    width: 95%;
    font-size: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button_back:hover {
    background-color: #0056b3;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 1008px) {
    .info_login {
        width: 600px;
        max-width: 100%;
        font-size: 30px;
    }

    .input-group input {
        width: 90%;
        padding: 8px;
        height: 29px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .input-group button {
        width: 95%;
        padding: 10px;
        background-color: #007bff;
        height: 60px;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button_back {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        text-decoration: none; /*уберание подчеркивания*/
        cursor: pointer;
        display: inline-block;
        width: 90%;
        font-size: 18px;
        height: 30px;
        text-align: center;
        transition: background-color 0.3s ease;
    }
}